<!Doctype html>
<html>
{% load static %}
<head><title>Following</title></head>
{% include "base.html" %}
<link rel="stylesheet" href="{% static 'css/pages.css' %}">

<body>
    <div class="yourteams">
    <h1 class="popular_text">Teams From People You Follow:</h1>
    <br />
        {% if teamview %}
            {% if following %}
            <ul class="displayteams" id="ul_popular">
                {% for team in teamview %}
                    {% for follow in following %}
                    {% if team.userprofile == follow.following %}
                        <a href="{% url 'team' team.slug %}" class="recent_a">
                        <li class="thumbnails">
                            {{ team.teamname }}
                            <br />
                            <img src="/static/img/sprites/{{ team.pokedex1 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                            <img src="/static/img/sprites/{{ team.pokedex2 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                            <img src="/static/img/sprites/{{ team.pokedex3 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                            <br />
                            <img src="/static/img/sprites/{{ team.pokedex4 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                            <img src="/static/img/sprites/{{ team.pokedex5 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                            <img src="/static/img/sprites/{{ team.pokedex6 }}.png" width="40px" height="40px"
                                 style="background-color:#3A3A3A; border:1px solid #AAAAAA; margin: 1px 1px 1px 1px;"
                                 onerror="if (this.src != 'error.jpg') this.src = '{% static 'img/sprites/null.png' %}';"/>
                        </li>
                        </a>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </ul>
        {% else %}
            <strong class="no_popular_teams">--- No one you follow has any teams! ---</strong>
                {% endif %}
        {% endif %}
    </div>
</body>
</html>